body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

#top{
    background-image:linear-gradient(to bottom, rgba(12, 12, 12, 0), rgb(2, 2, 2,2)), url(images/donation13.jpg);
    background-size: cover;
    height: 635px;
    width: 100%;
    background-position: center;
    position: center;
    display: flex;
    text-align: center;
}

.headline{
    padding: 10%;
    align-items: center;
}

.headline h1{
    font-size: 55px ;
    font-weight: 700;
    text-align: center;
    color: white;
    padding-left: 15%;
    padding-right: 15%;
    left: 0px;
    top: 0px;
    padding: 0px;
    margin: 0px;
    letter-spacing: 2px;
}

.headline p{
    text-align: center;
    color: white;
    font-size: 22px;
    font-weight: 100;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 18px;
}

.blocks{
    padding: 10px 10px;
    text-decoration: none;
    text-align: center;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    justify-content: center;
    display: block;
    align-items:center;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 120px;
    height: 30px;
 
}

#donate{
    background-color: rgb(245, 81, 108);  
}

/*#read{
    border: 1px solid rgb(245, 81, 108);
}*/

#middle{
    display: flex;
    text-align: center;
}


.title h1{
    font-size: 40px ;
    font-weight: 700;
    text-align: center;
    color: black;
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 15%;
}

.title p{
    text-align: center;
    color: rgb(99, 96, 96);
    font-size: 22px;
    font-weight: 100;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 18px;
}

.lists{
    display: inline-block;
    padding-bottom: 5%;
}

.other{
    width: 250px;
    height: 30px;
    display: flex;
    font-size: 20px;
    text-align: center;
    border: 1px solid grey;
    box-shadow: 0 5 10px grey;
}