body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

#top{
    background-image:linear-gradient(to bottom, rgba(12, 12, 12, 0), rgb(2, 2, 2,2)), url(images/donation13.jpg);
    background-size: cover;
    height: 635px;
    width: 100%;
    background-position: center;
    position: center;
    display: flex;
    text-align: center;
}

.headline{
    padding: 10%;
    align-items: center;
}

.headline h1{
    font-size: 55px ;
    font-weight: 700;
    text-align: center;
    color: white;
    padding-left: 15%;
    padding-right: 15%;
    left: 0px;
    top: 0px;
    padding: 0px;
    margin: 0px;
    letter-spacing: 2px;
}

.headline p{
    text-align: center;
    color: white;
    font-size: 22px;
    font-weight: 100;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 18px;
}

.button{
    color: white;
    background-color: #F5516C;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#middle-one {
    text-align: center;
    margin: 75px;
    padding: 5% 0;
}

#middle-one h1 {
    font-size: 50px;
    text-transform: uppercase;
    margin: 0 50px;
}

#middle-one p {
    text-align: center;
    color: rgb(99, 96, 96);
    font-size: 22px;
    font-weight: 100;
    margin: 30px 80px;
    padding: 0 10%;
}

ul{
    display: flex;
    width: 75%;
    margin: 0 auto;
}

li{
    list-style: none;
    background-color: #F9F9F9;
    width: 15%;
    padding: 40px 10px;
    margin-left: 15px;
    font-weight: bolder;
    font-size: 25px;
    border-radius: 5px;
}

#selected {
    border: 2px solid #F5516C;
    color: #F5516C;
    background-color: #FFEEF1;
}

form input {
    display: block;
    width: 75%;
    margin: 35px auto;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #797979;
    color: #BBBBBB;
    font-size: 20px;
    text-align: center;
}

#middle-two{
    text-align: center;
    margin: 75px;
    padding: 5% 0;
}

.center h1{
    font-size: 40px;
    text-transform: uppercase;
    margin: 0 50px;
}

.center p{
    text-align: center;
    color: rgb(99, 96, 96);
    font-size: 20px;
    font-weight: 100;
    margin: 20px 80px;
    padding: 0 15%;
    margin-bottom: 50px;
}

.flexible{
    display: flex; 
    margin-bottom: 80px;
    padding: 0 10%;
}

.half-width{
    padding: 40px 20px;
    width: 60%;
    margin-left: 10px;
    margin-right: 10px;
}

.half-width p{
    font-weight: 150;
    font-size: 20px;
}

.half-width img{
    padding-top: 10px;
}

#first{
    background-color: #f8e7eb;
}

#second{
    background-color: #f5f4f4;
}

#third{
    background-color: rgb(230, 248, 242);
}

#middle-three{
    display: flex;
    width: 90%;
    margin: 75px;
    padding-left: 20px;
}

#middle-three h1{
    font-size: 40px ;
    font-weight: 700;
    text-align: left; 
    left: 0px;
    top: 0px;
    padding: 0px;
    margin: 0px;
}

#middle-three p{
    padding-right: 30px;
}

#middle-three img{
    width: 80%;
} 

#middle-last{
    display: flex;
    width: 90%;
    margin: 75px;
    padding-left: 20px;
}

#middle-last h1{
    font-size: 40px ;
    font-weight: 700;
    text-align: left; 
    left: 0px;
    top: 0px;
    padding: 0px;
    margin: 0px;
}

#middle-last p{
    padding-right: 50px;
}

#middle-last img{
    height: 100%;
    width: 80%;
} 

#bottom{
    text-align: center;
}

.box{
    height: 150px;
    background-color: rgb(247, 247, 220);
    display: block;
    width: 50%;
    margin: 50px auto;
    padding: 10px 0;
    border: none;
}
.update h1{
    left: 0px;
    top: 0px;
    padding: 0px;
    margin: 0px;
    font-size: 40px;
    font-weight: 700;
}

.update p{
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 50px;
}

.update input{
    display: inline;
    padding: 12px 10px;
    font-size: 20px;
    width: 40%;
    color: #797979;
    font-size: 20px;
    text-align: left;
    margin-top: 50px;
    border: 0;
}

#button{
    display: inline;
    color: white;
    background-color: #F5516C;
    padding: 10px 20px;
    font-size: 20px;
    border: 0;
    cursor: pointer;
    margin: 0;
    border-radius: 0 5px 5px 0;
}

footer{
    background: black;
    height: auto;
    width: 100%;
    padding-top: 25px;
    color: white;
    margin-top: 100px;
    
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
 }

.footer-content h3{
    left: 0px;
    top: 0px;
    padding: 0px;
    margin: 0px;
    font-size: 25px;
    font-weight: 600;
    color: rgb(255, 166, 0);
 }

 .footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 20px;
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: 100;
 }

.footer-end{
    width: 100%;
    height: 40px;
    padding: 10px 0;
    text-align: center;
}

.footer-end p{
    font-size: 15px;
    text-transform: capitalize;
}

.footer-end span{
    opacity: 0.5;
}
